.footer {
  position: relative;

  /* Element container */
  &__container {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    padding-top: 10px;
    padding-bottom: 10px;
    border-top: 1px solid #e5e5e5;

    @media (min-width: $breakpoint-md) {
      flex-direction: row;
    }
  }
}