$breakpoint-sm:                             640px;  // Phone landscape
$breakpoint-md:                            960px;  // Tablet Landscape
$breakpoint-lg:                             1200px; // Desktop
$breakpoint-xl:                            1600px; // Large Screens

$global-font-family: 'Roboto', sans-serif;
$global-heading-family: 'Montserrat', sans-serif;
$secondary-heading-family: 'Kaushan Script', cursive;

$global-font-size: 15px;

$global-line-height: 1.6;

$primary-color: #f38181;
$secondary-color: #fce38a;
$tertiary-color: #eaffd0;
$quaternary-color: #95e1d3;
$inverse-color: #fff;

$global-font-color: #999;
$global-heading-color: #333;
$global-link-color: $primary-color;

$global-background-color: #fff;





