*, ::after, ::before {
  padding: 0;
  margin: 0;
  box-sizing: border-box; }

html {
  font-family: "Roboto", sans-serif;
  font-size: 15px;
  font-weight: 400;
  line-height: 1.6;
  -webkit-text-size-adjust: 100%;
  background-color: #fff;
  color: #999; }

a {
  color: #f38181;
  text-decoration: none;
  transition: all .2s ease-in-out;
  -webkit-text-decoration-skip: objects; }
  a:active, a:hover {
    color: #ef5252;
    outline: none; }

img {
  max-width: 100%;
  height: auto;
  vertical-align: middle; }

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: "Montserrat", sans-serif;
  font-weight: 700;
  line-height: 1;
  color: #333;
  text-transform: uppercase; }

h1 {
  font-size: 50px; }
  @media (min-width: 640px) {
    h1 {
      font-size: 80px; } }
  @media (min-width: 960px) {
    h1 {
      font-size: 100px; } }
  @media (min-width: 1200px) {
    h1 {
      font-size: 150px; } }

h2 {
  font-size: 30px; }

h3 {
  font-size: 14px;
  font-weight: 400; }

.body_muted {
  overflow: hidden; }

.container {
  width: 100%;
  max-width: 1200px;
  padding-right: 15px;
  padding-left: 15px;
  margin-right: auto;
  margin-left: auto;
  box-sizing: border-box; }

.grid {
  display: flex;
  flex-wrap: wrap;
  margin-left: -15px;
  margin-right: -15px;
  box-sizing: border-box; }

[class*='col'] {
  width: 100%;
  max-width: 100%;
  padding-left: 15px;
  padding-right: 15px;
  box-sizing: border-box; }

.col-auto {
  width: auto; }

.col-expand {
  flex: 1;
  min-width: 1px; }

.col-1 {
  width: 8.3333333333%; }

.col-2 {
  width: 16.6666666667%; }

.col-3 {
  width: 25%; }

.col-4 {
  width: 33.3333333333%; }

.col-5 {
  width: 41.6666666667%; }

.col-6 {
  width: 50%; }

.col-7 {
  width: 58.3333333333%; }

.col-8 {
  width: 66.6666666667%; }

.col-9 {
  width: 75%; }

.col-10 {
  width: 83.3333333333%; }

.col-11 {
  width: 91.6666666667%; }

.col-12 {
  width: 100%; }

@media (min-width: 640px) {
  .col-sm-1 {
    width: 8.3333333333%; }

  .col-sm-2 {
    width: 16.6666666667%; }

  .col-sm-3 {
    width: 25%; }

  .col-sm-4 {
    width: 33.3333333333%; }

  .col-sm-5 {
    width: 41.6666666667%; }

  .col-sm-6 {
    width: 50%; }

  .col-sm-7 {
    width: 58.3333333333%; }

  .col-sm-8 {
    width: 66.6666666667%; }

  .col-sm-9 {
    width: 75%; }

  .col-sm-10 {
    width: 83.3333333333%; }

  .col-sm-11 {
    width: 91.6666666667%; }

  .col-sm-12 {
    width: 100%; } }
@media (min-width: 960px) {
  .col-md-1 {
    width: 8.3333333333%; }

  .col-md-2 {
    width: 16.6666666667%; }

  .col-md-3 {
    width: 25%; }

  .col-md-4 {
    width: 33.3333333333%; }

  .col-md-5 {
    width: 41.6666666667%; }

  .col-md-6 {
    width: 50%; }

  .col-md-7 {
    width: 58.3333333333%; }

  .col-md-8 {
    width: 66.6666666667%; }

  .col-md-9 {
    width: 75%; }

  .col-md-10 {
    width: 83.3333333333%; }

  .col-md-11 {
    width: 91.6666666667%; }

  .col-md-12 {
    width: 100%; } }
@media (min-width: 1200px) {
  .col-lg-1 {
    width: 8.3333333333%; }

  .col-lg-2 {
    width: 16.6666666667%; }

  .col-lg-3 {
    width: 25%; }

  .col-lg-4 {
    width: 33.3333333333%; }

  .col-lg-5 {
    width: 41.6666666667%; }

  .col-lg-6 {
    width: 50%; }

  .col-lg-7 {
    width: 58.3333333333%; }

  .col-lg-8 {
    width: 66.6666666667%; }

  .col-lg-9 {
    width: 75%; }

  .col-lg-10 {
    width: 83.3333333333%; }

  .col-lg-11 {
    width: 91.6666666667%; }

  .col-lg-12 {
    width: 100%; } }
@media (min-width: 1600px) {
  .col-xl-1 {
    width: 8.3333333333%; }

  .col-xl-2 {
    width: 16.6666666667%; }

  .col-xl-3 {
    width: 25%; }

  .col-xl-4 {
    width: 33.3333333333%; }

  .col-xl-5 {
    width: 41.6666666667%; }

  .col-xl-6 {
    width: 50%; }

  .col-xl-7 {
    width: 58.3333333333%; }

  .col-xl-8 {
    width: 66.6666666667%; }

  .col-xl-9 {
    width: 75%; }

  .col-xl-10 {
    width: 83.3333333333%; }

  .col-xl-11 {
    width: 91.6666666667%; }

  .col-xl-12 {
    width: 100%; } }
.btn {
  display: inline-block;
  vertical-align: middle;
  padding: 0 30px;
  box-sizing: border-box;
  font-family: "Montserrat", sans-serif;
  font-size: 14px;
  font-weight: 700;
  line-height: 34px;
  text-align: center;
  text-transform: uppercase;
  text-decoration: none;
  border-width: 3px;
  border-style: solid;
  border-radius: 0;
  transition: all .2s ease-in-out;
  cursor: pointer;
  overflow: visible;
  user-select: none;
  -webkit-appearance: none;
  /* Elements */
  /* Modifiers theme */
  /* Modifiers view */ }
  .btn:focus {
    outline: none; }
  .btn_theme_default {
    color: #fff;
    background-color: #95e1d3;
    border-color: #95e1d3; }
    .btn_theme_default:hover {
      background-color: #6dd6c3;
      border-color: #6dd6c3; }
  .btn_theme_inverse {
    color: #fff;
    background-color: transparent;
    border-color: #fff; }
    .btn_theme_inverse:hover {
      color: #fce38a;
      border-color: #fce38a; }
  .btn_view_mobile {
    display: inline-block; }

@media (min-width: 960px) {
  .btn_view_mobile {
    display: none; } }
.icon {
  display: flex;
  justify-content: center;
  align-items: center; }

.title-top {
  font-family: "Kaushan Script", cursive;
  font-size: 24px;
  line-height: 1;
  color: #333;
  text-align: center; }

.logo {
  display: flex;
  justify-content: center;
  align-items: center;
  font-family: "Montserrat", sans-serif;
  font-size: 30px;
  font-weight: 700;
  color: inherit;
  text-decoration: none; }
  .logo:hover {
    color: inherit; }

.menu {
  display: flex;
  align-items: center;
  /* Element item */
  /* Element icon */
  /* Modifier vertical */ }
  .menu__item {
    position: relative;
    display: block;
    padding: 10px 25px;
    font-family: "Montserrat", sans-serif;
    font-size: 14px;
    color: inherit;
    text-decoration: none;
    /* Modifier active and hover */ }
    .menu__item::after {
      content: "";
      position: absolute;
      right: calc(100% - 25px);
      bottom: 0;
      left: 25px;
      display: block;
      height: 3px;
      background-color: #fce38a;
      transition: right .2s ease-in-out; }
    .menu__item:hover, .menu__item_active {
      color: #fce38a; }
      .menu__item:hover::after, .menu__item_active::after {
        right: 25px; }
      .menu__item:hover .menu__icon, .menu__item_active .menu__icon {
        fill: #fce38a; }
  .menu__icon {
    width: 18px;
    height: 18px;
    fill: #fff;
    transition: fill .2s ease-in-out; }
  .menu_vertical {
    flex-direction: column; }

.icon-nav {
  position: relative;
  display: flex;
  align-items: center;
  list-style: none;
  background-color: #f38181;
  /* Element item */
  /* Element link */
  /* Element icon */ }
  .icon-nav__item {
    margin-right: 1px; }
    .icon-nav__item:last-child {
      margin-right: 0; }
  .icon-nav__link {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 56px;
    height: 56px;
    text-decoration: none;
    background-color: #fce38a; }
    .icon-nav__link:hover {
      background-color: #f38181; }
      .icon-nav__link:hover .icon-nav__icon {
        fill: #fff; }
  .icon-nav__icon {
    width: 26px;
    height: 26px;
    fill: #f38181;
    transition: fill .2s ease-in-out; }

.header {
  position: relative;
  padding-top: 25px;
  padding-bottom: 25px;
  /* Element container */
  /* Element menu */ }
  .header__container {
    display: flex;
    justify-content: space-between;
    align-items: center; }
  .header__menu {
    display: none; }

@media (min-width: 960px) {
  .header__menu {
    display: flex; } }
.footer {
  position: relative;
  /* Element container */ }
  .footer__container {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    padding-top: 10px;
    padding-bottom: 10px;
    border-top: 1px solid #e5e5e5; }
    @media (min-width: 960px) {
      .footer__container {
        flex-direction: row; } }

.section {
  position: relative;
  padding-top: 40px;
  padding-bottom: 40px;
  /* Element title-top */
  /* Element title */
  /* Element text */ }
  .section__title-top {
    margin-bottom: 20px; }
  .section__title {
    position: relative;
    padding-bottom: 45px;
    text-align: center; }
    .section__title::after {
      content: "";
      position: absolute;
      bottom: 0;
      left: 50%;
      display: block;
      width: 60px;
      height: 3px;
      background-color: #f38181;
      transform: translateX(-50%); }
  .section__text {
    width: 100%;
    max-width: 990px;
    padding-top: 40px;
    padding-bottom: 40px;
    margin-right: auto;
    margin-left: auto;
    text-align: center; }

.page {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  min-height: 100vh;
  box-sizing: border-box; }

.pageheader {
  position: relative;
  color: #fff;
  background-image: url("../images/eagle.jpg");
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  /* Element header */
  /* Element section */
  /* Element title-top */
  /* Element title */ }
  .pageheader::before {
    content: "";
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    background-image: linear-gradient(0deg, #fbe389 0%, #f38a81 100%);
    opacity: .9; }
  .pageheader__header {
    position: absolute;
    top: 0;
    right: 0;
    left: 0;
    z-index: 10; }
  .pageheader__section {
    padding-top: 130px;
    padding-bottom: 130px;
    text-align: center; }
    @media (min-width: 640px) {
      .pageheader__section {
        padding-top: 230px;
        padding-bottom: 230px; } }
  .pageheader__title-top {
    margin-bottom: 30px;
    font-size: 38px;
    color: inherit; }
    @media (min-width: 640px) {
      .pageheader__title-top {
        font-size: 72px; } }
  .pageheader__title {
    margin-bottom: 60px;
    color: inherit; }
    @media (min-width: 640px) {
      .pageheader__title {
        margin-bottom: 100px; } }

.service {
  display: flex;
  padding-top: 50px;
  /* Element icon */
  /* Element info */
  /* Element title */ }
  @media (min-width: 640px) {
    .service {
      padding-bottom: 50px; } }
  .service__icon {
    width: 32px;
    height: 32px;
    margin-right: 30px;
    fill: #95e1d3; }
  .service__info {
    flex: 1 1 0;
    min-width: 1px;
    max-width: 100%; }
  .service__title {
    margin-bottom: 10px; }

.photo {
  position: relative;
  background-color: #95e1d3;
  /* Element container */
  /* Element controls */ }
  .photo:hover .photo__container {
    top: -10px;
    left: -10px; }
  .photo:hover .photo__controls {
    opacity: 1; }
  .photo__container {
    position: relative;
    top: 0;
    left: 0;
    transition: all .2s ease-in-out; }
  .photo__controls {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    opacity: 0;
    transition: all .2s ease-in-out; }
    .photo__controls::before {
      content: "";
      position: absolute;
      top: 0;
      right: 0;
      bottom: 0;
      left: 0;
      background-image: linear-gradient(0deg, #f0e290 0%, #e98a89 100%);
      opacity: .9; }

.team-member {
  padding-top: 25px;
  padding-bottom: 25px;
  text-align: center;
  /* Element title */
  /* Element about */
  /* Element photo */ }
  @media (min-width: 640px) {
    .team-member {
      padding-top: 50px;
      padding-bottom: 50px; } }
  .team-member__title {
    margin-bottom: 10px; }
  .team-member__about {
    font-weight: 300;
    font-style: italic; }
  .team-member__photo {
    margin-bottom: 30px; }

.copyright {
  padding-bottom: 10px;
  font-family: "Montserrat", sans-serif;
  font-size: 14px;
  color: #333; }
  @media (min-width: 960px) {
    .copyright {
      padding-bottom: 0; } }

.subscribe-form {
  display: flex;
  max-width: 100%;
  /* Element input */
  /* Element button */ }
  .subscribe-form__input {
    flex: 1 1 0;
    width: 230px;
    min-width: 1px;
    max-width: 100%;
    padding-right: 10px;
    padding-left: 10px;
    font-family: "Roboto", sans-serif;
    font-size: 15px;
    font-weight: 300;
    font-style: italic;
    line-height: 38px;
    background-color: transparent;
    border: 1px solid #e7e7e7;
    border-radius: 0; }
    .subscribe-form__input:focus {
      border-color: #95e1d3;
      outline: none; }
  .subscribe-form__button {
    margin-left: -1px; }

.offcanvas {
  display: none;
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  z-index: 1050;
  touch-action: none;
  /* Element bar */
  /* Element close */
  /* Modifiers open */ }
  .offcanvas::before {
    content: "";
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    background: rgba(0, 0, 0, 0.2);
    opacity: 0;
    transition: opacity .2s linear; }
  .offcanvas__bar {
    position: absolute;
    top: 0;
    bottom: 0;
    right: -100%;
    width: 270px;
    padding: 40px 20px 20px;
    color: #fff;
    background: #f38181;
    overflow-y: auto;
    transition: left .3s ease-out; }
  .offcanvas__close {
    position: absolute;
    z-index: 1050;
    top: 20px;
    right: 20px;
    padding: 5px;
    color: #fff;
    text-shadow: none;
    background-color: transparent;
    border: none;
    opacity: 1; }
    .offcanvas__close:hover {
      color: #fff; }
    .offcanvas__close:focus {
      outline: none; }
  .offcanvas_open {
    display: block; }
    .offcanvas_open::before {
      opacity: 1; }

/*# sourceMappingURL=styles.css.map */
