$global-primary-color: #22223d;
$global-secondary-color: #30304d;

$primary-bg: #5e2dd8;
$secondary-bg: #d43f8d;
$info-bg: #0774f8;

$success-bg: #09ad95;
$warning-bg: #f7b731;
$danger-bg: #f82649;

$global-text-color: #dedefd;