@import "variables";
@import "roulette";
@import "flip-clock";

body {
  overflow-y: auto;
}

.width-expand {
  min-width: 1px;
  max-width: 100%;
}

[data-disabled-link] {
  color: #aaaabf !important;
}

.side-header {
  padding: 11px 10px;
  border-bottom-color: transparent;

  .header-brand1 {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 60px;
    height: 60px;
    color: $global-text-color;
    background-color: $global-primary-color;
    border-radius: 50%;
  }
}

.side-menu {
  padding-top: 20px;

  > li + li {
    margin-top: 20px;
  }

  &__item {
    padding: 0.375rem 0.75rem;
    font-size: 16px;
    text-align: center;
    white-space: nowrap;
    line-height: 1.84615385;
    background-color: $global-primary-color;
    border-radius: 5px;
  }
}

.language-menu {
  position: relative;
  z-index: 1;

  .dropdown-menu {
    min-width: 100%;
  }
}

.app-content {
  min-height: 100vh;
}

.page-header {
  position: relative;
  justify-content: center;
  padding-left: 80px;
  padding-right: 80px;

  .language-menu {
    position: absolute;
    top: 50%;
    right: 20px;
    transform: translateY(-50%);
  }
}

.page-title {
  margin-bottom: 0;
  text-align: center;
}

.start-message {
  padding-top: 1.5rem;

  &__card {
    border-radius: 20px;
  }
}

.theme-icon {
  position: relative;
  width: 6rem;
  max-width: 100%;
  height: auto;

  &__text {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-size: 16px;
  }

  &_large {
    width: 8rem;

    .theme-icon__text {
      font-size: 24px;
    }
  }

  &_small {
    width: 4rem;
  }

  &_xsmall {
    width: 3rem;
  }
}

.team-structure {
  display: flex;
  position: relative;

  .tab-content {
    margin-left: 20px;
  }

  .tab-pane, .card {
    height: 100%;
    border: none;
    box-shadow: none;
  }

  &__list {

    .btn {
      position: relative;

      &::after {
        content: '';
        position: absolute;
        top: 50%;
        left: calc(100% + 7px);
        transform: translateY(-50%);
        border-width: 10px 15px 10px 0;
        border-color: transparent;
        border-style: solid;
        border-right-color: $global-secondary-color;
        opacity: 0;
        transition: opacity 0.3s linear;
      }

      &.active::after {
        opacity: 1;
      }
    }
  }
}

.progress {
  border: 1px solid $info-bg;

  &__value {
    width: 55px;
    min-height: 30px;
    font-size: 20px;
  }
}

.panel {
  padding: 0.375rem 0.75rem;
  text-align: center;
  white-space: nowrap;
  line-height: 1.84615385;
  border-radius: 5px;

  &_default {
    background-color: $global-primary-color;
  }
}

.theme-counter {
  position: relative;
  background: linear-gradient(to top right, #282828 0%, #787878 100%);
  border: 5px double $info-bg;
  border-radius: 5px;

  .flip-clock-container {
    justify-content: space-between;

    [class|="flip-item"] {
      position: relative;
      width: calc(50% - 7px);

      &::before {
        position: absolute;
        left: 100%;
      }

      .flip-digit {
        width: 50%;
      }
    }
  }

  &_small {
    width: 160px;

    .flip-clock-container {

      [class|="flip-item"] {
        width: calc(50% - 5px);

        &::before {
          font-size: 30px;
          line-height: 55px;
          margin: 0 -3px;
        }

        .flip-digit {
          height: 60px;

          > span {

            &::before, &::after {
              font-size: 50px;
            }

            &::before {
              line-height: 60px;
            }

            &::after {
              line-height: 0px;
            }
          }
        }
      }
    }
  }
}

.dark-mode {

  .side-header {
    border-bottom-color: transparent;
  }
}

@media (min-width: 576px) {

  .team-structure {

    .tab-content {
      min-width: 300px;
      max-width: 100%;
    }

    &__list {
      min-width: 100px;
      max-width: 100%;
    }
  }
}

@media (min-width: 992px) {

  .start-message {
    padding-top: 160px;

    &__card {
      padding: 30px 60px;
    }
  }

  .counter-status {

    &_left {
      position: absolute;
      top: 0;
      left: 0;
    }

    &_right {
      position: absolute;
      top: 0;
      right: 0;
    }
  }
}

@media (min-width: 1200px) {

  .team-structure {

    .tab-content {
      position: absolute;
      top: 0;
      left: 100%;
      bottom: 0;
    }
  }
}

@media (max-width: 991px) {

  .page-header {

    .language-menu {
      right: 15px;
    }
  }
}