@import "variables";

body {
  overflow-y: auto;
}

.width-expand {
  min-width: 1px;
  max-width: 100%;
}

.side-header {
  padding: 11px 10px;
  border-bottom-color: transparent;

  .header-brand1 {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 60px;
    height: 60px;
    color: $global-text-color;
    background-color: $global-primary-color;
    border-radius: 50%;
  }
}

.side-menu {
  padding-top: 20px;

  > li + li {
    margin-top: 20px;
  }

  &__item {
    padding: 0.375rem 0.75rem;
    font-size: 16px;
    text-align: center;
    white-space: nowrap;
    line-height: 1.84615385;
    background-color: $global-primary-color;
    border-radius: 5px;
  }
}

.app-content {
  min-height: 100vh;
}

.page-header {
  justify-content: center;
}

.page-title {
  margin-bottom: 0;
  text-align: center;
}

.start-message {
  padding-top: 1.5rem;

  &__card {
    border-radius: 20px;
  }
}

.theme-icon {
  position: relative;
  width: 6rem;
  height: auto;

  &__text {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-size: 16px;
  }

  &_large {
    width: 8rem;

    .theme-icon__text {
      font-size: 24px;
    }
  }

  &_small {
    width: 4rem;
  }

  &_xsmall {
    width: 3rem;
  }
}

.team-structure {
  display: flex;
  position: relative;

  .tab-content {
    margin-left: 20px;
  }

  .tab-pane, .card {
    height: 100%;
    border: none;
    box-shadow: none;
  }

  &__list {

    .btn {
      position: relative;

      &::after {
        content: '';
        position: absolute;
        top: 50%;
        left: calc(100% + 7px);
        transform: translateY(-50%);
        border-width: 10px 15px 10px 0;
        border-color: transparent;
        border-style: solid;
        border-right-color: $global-secondary-color;
        opacity: 0;
        transition: opacity 0.3s linear;
      }

      &.active::after {
        opacity: 1;
      }
    }
  }
}

.progress {
  border: 1px solid $info-bg;

  &__value {
    width: 55px;
    min-height: 30px;
    font-size: 20px;
  }
}

.panel {
  padding: 0.375rem 0.75rem;
  text-align: center;
  white-space: nowrap;
  line-height: 1.84615385;
  border-radius: 5px;

  &_default {
    background-color: $global-primary-color;
  }
}

.theme-counter {
  position: relative;
  padding: 10px;
  font-size: 80px;
  font-weight: 700;
  color: #fff;
  line-height: 1;
  background: linear-gradient(to top right, #282828 0%, #787878 100%);
  border: 5px double $info-bg;
  border-radius: 5px;
}







.dark-mode {

  .side-header {
    border-bottom-color: transparent;
  }
}

@media (min-width: 576px) {

  .team-structure {

    .tab-content {
      min-width: 300px;
      max-width: 100%;
    }

    &__list {
      min-width: 100px;
      max-width: 100%;
    }
  }
}

@media (min-width: 992px) {

  .start-message {
    padding-top: 160px;

    &__card {
      padding: 30px 60px;
    }
  }

  .counter-status_left {
    position: absolute;
    top: 0;
    left: 0;
  }
}

@media (min-width: 1200px) {

  .team-structure {

    .tab-content {
      position: absolute;
      top: 0;
      left: 100%;
      bottom: 0;
    }
  }
}