body {
  transition: background-color 1s ease;
}

.color-start {
  background-color: #fff;
}

.color-first {
  background-color: #e5e5e5;
}

.color-second {
  background-color: #bcbcbc;
}

.color-third {
  background-color: #9c9c9c;
}

.color-fourth {
  background-color: #6c6c6c;
}

.tm-background-dots {
  position: absolute;
  top: 40px;
  right: -11px;
  width: 70%;
}

.tm-footer {
  font-size: 14px;
}

@media (max-width: 639px) {

  html {
    font-size: 18px;
  }

  h3, .uk-h3 {
    font-size: 26px;
  }
}