.wufoo .info {
    padding: 0;
    margin-bottom: 50px;
}

.wufoo .info h2 {
    font-size: 66px !important;
    font-family:  'Roboto', sans-serif;
    font-weight: 700;
    color: #093251 !important;
}

form li {
    padding: 0;
    margin-bottom: 20px;
}

form li.leftHalf, form li.rightHalf {
    width: 49% !important;
}

@media only screen and (max-width: 639px) {

    form li.leftHalf, form li.rightHalf {
        width: 100% !important;
    }
}

.wufoo label.desc, .wufoo legend.desc, .likert caption {
    display: none;
}

.wufoo li div, .wufoo li span, .wufoo li div label, .wufoo li span label {
    color: #093251;
}

.wufoo input.text, .wufoo textarea.textarea, .wufoo input.file, .wufoo select.select {
    background: #eee;
}

.wufoo input:focus, .wufoo textarea:focus, .wufoo select:focus {
   outline: none;
}

.wufoo input.text,.wufoo textarea.textarea,.wufoo input.file,.wufoo select.select,.wufoo li .wufoo-dropdown span {
    font-style: normal;
    font-weight: normal;
    color: #093251 !important;
    font-size: 12px !important;
}

.wufoo input.text, .wufoo textarea.textarea, .wufoo input.file {
    font-family: inherit;
    padding: 10px 20px;
    box-sizing: border-box;
    border: none;
    line-height: 25px;
}

form li.buttons {
    margin-bottom: 0;
    text-align: center;
}

.wufoo input.btTxt {
    font-size: 12px;
    display: inline-block;
    box-sizing: border-box;
    padding: 0 30px;
    vertical-align: middle;
    line-height: 40px;
    color: #fff;
    background: #093251;
    border: 1px solid transparent;
    cursor: pointer;
    margin: 0;
}

.wufoo input.btTxt:hover {
    background: #06243a;
    color: #fff;
}

form li.error, #errorMsg b {
    background-color: transparent !important;
}

form p.error {
    padding: 5px 0 5px 0 !important;
}